.container {
background-color: aquamarine;
width: 50% ;
padding: 25px;
}
#title {
    color: blueviolet;
    text-align: center;
}
#bloque1 {
    align-items: center;
    margin: 15px;
}
#bloque2 {
    align-items: center;
    margin: 20px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-self: start;
}
#bloque3 {
    width: 100%;
    height: 180px;
    align-items: center;
    margin: 20px;
    background-color: bisque;

}
img {
    height: 180px;
}
